* {
    color:#4B3621;
}

.banner {

    background-color:khaki;
    text-align:center;
    padding:100px;
    color:#4B3621;

    }

#smallBob {
        height:200px;
        width:200px;
        background-color:khaki;
        color:#4B3621;
    }

#bobheader {
    font-size:100px;
    font-stretch:100%;
    text-align:left;
    color:#4B3621;
    padding:0px;
    
       
}

.bold {
    font-weight: 900;
}
