.banner {

    background-color: khaki;
    text-align: center;
    margin-top: 75 ;
    padding: 100px 

    }

#smallBob {
        height: 400px;
        width: 400px;
        background-color: khaki;
    }

#bobheader {
    font-size: 100px;
    font-stretch: 100%;
    text-align: left;
    color: khaki;
    padding: 0px;
    
       
}

.bold {
    font-weight: 900;
}
